body{
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

header, footer{
    color: aliceblue;
    background-color: cadetblue;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.child{
    display: inline-block;
    padding: 10px;
}

.column{float: left;}
.left{
    display: grid;
    width: 30%;

}


.right{width:70%;}
.column{text-align: center;}


.label h3{
    display: inline-block;
    margin-top: -30px;
}

#addBtn{visibility: hidden;}


.input input[type=text], .scale, select{
    display: inline-block;
    position: relative;
    border-radius: 10px;
    margin: 10px;
    width: 150px;
    padding: 5px;
}


.year, .popularity{
    display: inline;
    text-align: left;
}

.scale input[type=text], .scale label{
    margin-left: 100px;
}
.scale{
    width: 50px;
    right: 10px;
}

.popularity .scale, .year .scale{
    text-align: right;
}

button{
    padding:8px 20px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

select{
    font-family:'Courier New', Courier, monospace;
}

.result h3{
    padding: 10px 40px;
    text-align: center;
}

table{
    width: 1000px;
}
th{
    height: 100px;
    font-weight: bolder;
    font-size: large;
}

td{padding: 10px;}

.songInfo, .radar h2{display:none;}


.analysis ul{
    list-style-type: none;

}

tr a{
    padding-right: 30px;
}



